:root {
  font-size: 14pt;
}

h1{
  color: darkred;
  text-align: center;
}
body {
    padding: 10px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: " > ";
}
.breadcrumb li:nth-last-child()::after {
  content: "";
}