<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>貸出編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>貸出を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">貸出状況</a></li>
        <li>貸出の編集</li>
    </ul>

    <form action="{{ url_for('order.edit', order_id=order.id) }}" method="post">
        <label>ユーザー: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if order.user.id == user.id %}selected{% endif %}>{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>本: 
            <select name="product_id" required>
                {% for product in products %}
                    <option value="{{ product.id }}" {% if order.product.id == product.id %}selected{% endif %}>{{ product.title }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
