<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>本データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('product.list') }}">本データ一覧</a></li>

    </ul>
    <a href="{{ url_for('product.add') }}">新しい本追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>タイトル</th>
                <th>分類</th>
                <th>最大冊数</th>
                <th>現在の在庫</th>
            </tr>
        </thead>
        <tbody>
            {% for product in items %}
            <tr>
                <td><a href="{{ url_for('product.edit', product_id=product.id) }}">編集</a></td>
                <td>{{ product.title }}</td>
                <td>{{ product.genre }}</td>
                <td>{{ product.maxNumber }}</td>
                <td>{{ product.currentNumber }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
