<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザーリスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>ユーザーリスト</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('user.list') }}">ユーザー一覧</a></li>
    </ul>

    <a href="{{ url_for('user.add') }}">新規ユーザー追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>年齢</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td><a href="{{ url_for('user.edit', user_id=user.id) }}">編集</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
